{% extends "base.html.twig" %}

{% block title 'Creation d\'une catégorie' %}

{% block body %}

<h1>Creation d'une catégorie</h1>
{{ form_start(formView) }}
{{ form_errors(formView)}}
<div class="row">
    <div class="col">
        {{ form_row(formView.name) }}
    </div>
</div>
<button type="submit" class="btn btn-primary ">
    <i class="fas fa-save"></i>
   Créer une catégorie de produit
</button>
{{ form_end(formView) }}

{% endblock %}

