<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		{% for rubrique , messages in app.flashes %}
			<div class="alert alert-{{rubrique}}">
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endfor %}
		</div>
		<div class="container pt-5"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
</body></html>
