{% extends "base.html.twig" %}

{% block title 'accueil' %}

{% block body %}

	<h1>Nos produit phares</h1>

	<div class="row">
		{% for p in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, odit!</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with{
'color': 'primary',
'icone': 'fas fa-truck',
'text':' Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iusto quo placeat dolorum. Officia, aliquam!  '} %}

		{% include "shared/_assurance.html.twig" with{
'color': 'primary',
'icone': 'fas fa-check',
'text':' Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iusto quo placeat dolorum. Officia, aliquam!  '} %}

		{% include "shared/_assurance.html.twig" with{
'color': 'warning',
'icone': 'fas fa-lock',
'text':' Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iusto quo placeat dolorum. Officia, aliquam!  '} %}
	</div>
{% endblock %}
